<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>AdvisorCircuit</display-name>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>
			org.AC.listeners.LogConfigListeners
		</listener-class>
  </listener>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <error-page>
    <error-code>404</error-code>
    <location>/Error404.jsp</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/Error404.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>org.AC.controller.HelloWorldServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>org.AC.controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>org.AC.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>AdminSetNoUserPayment</servlet-name>
    <servlet-class>org.AC.controller.AdminMyAccountSetStatusNoUserPayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSetNoUserPayment</servlet-name>
    <url-pattern>/AdminSetNoUserPayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Profile</servlet-name>
    <servlet-class>org.AC.controller.AdvisorProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/AdvisorProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvisorLogin</servlet-name>
    <servlet-class>org.AC.controller.AdvisorLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvisorLogin</servlet-name>
    <url-pattern>/AdvisorLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>org.AC.controller.UserLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvisorForgotPassword</servlet-name>
    <servlet-class>org.AC.controller.ForgotPasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvisorForgotPassword</servlet-name>
    <url-pattern>/AdvisorForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserForgotPassword</servlet-name>
    <servlet-class>org.AC.controller.UserForgotPasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserForgotPassword</servlet-name>
    <url-pattern>/UserForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookASessionServlet</servlet-name>
    <servlet-class>org.AC.controller.BookASessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookASessionServlet</servlet-name>
    <url-pattern>/BookASession</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserRegistration</servlet-name>
    <servlet-class>org.AC.controller.User_RegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistration</servlet-name>
    <url-pattern>/UserRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserRequests</servlet-name>
    <servlet-class>org.AC.controller.UserMyAccountRequestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRequests</servlet-name>
    <url-pattern>/UserRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserUpcomingSessions</servlet-name>
    <servlet-class>org.AC.controller.UserMyAccountUpcomingSessionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpcomingSessions</servlet-name>
    <url-pattern>/UserUpcomingSessions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserPreviousSessions</servlet-name>
    <servlet-class>org.AC.controller.UserMyAccountPreviousSessionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPreviousSessions</servlet-name>
    <url-pattern>/UserPreviousSessions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserCancelledSessions</servlet-name>
    <servlet-class>org.AC.controller.UserMyAccountCancelledSessionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCancelledSessions</servlet-name>
    <url-pattern>/UserCancelledSessions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAdvisorProfileEdit</servlet-name>
    <servlet-class>org.AC.controller.AdminAdvisorProfileEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAdvisorProfileEdit</servlet-name>
    <url-pattern>/AdminAdvisorProfileEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>org.AC.controller.AdminLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAdvisorMessage</servlet-name>
    <servlet-class>org.AC.controller.AdminMyAccountAdvisorMessageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAdvisorMessage</servlet-name>
    <url-pattern>/AdminAdvisorMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminMessage</servlet-name>
    <servlet-class>org.AC.controller.AdminMyAccountAdvisorMessageFormController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminMessage</servlet-name>
    <url-pattern>/AdminMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminCancelledSessions</servlet-name>
    <servlet-class>org.AC.controller.AdminMyAccountCancelledSessionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCancelledSessions</servlet-name>
    <url-pattern>/AdminCancelledSessions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminCancelledSessionsViewDetails</servlet-name>
    <servlet-class>org.AC.controller.AdminMyAccountCancelledSessionViewDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCancelledSessionsViewDetails</servlet-name>
    <url-pattern>/AdminCancelledSessionsViewDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminPreviousSessions</servlet-name>
    <servlet-class>org.AC.controller.AdminMyAccountPreviousSessionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPreviousSessions</servlet-name>
    <url-pattern>/AdminPreviousSessions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminPreviousSessionsViewDetails</servlet-name>
    <servlet-class>org.AC.controller.AdminMyAccountPreviousSessionViewDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPreviousSessionsViewDetails</servlet-name>
    <url-pattern>/AdminPreviousSessionsViewDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminRequests</servlet-name>
    <servlet-class>org.AC.controller.AdminMyAccountRequestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminRequests</servlet-name>
    <url-pattern>/AdminRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminRequestViewDetails</servlet-name>
    <servlet-class>org.AC.controller.AdminMyAccountRequestViewDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminRequestViewDetails</servlet-name>
    <url-pattern>/AdminRequestViewDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminRequestViewDetailForm</servlet-name>
    <servlet-class>org.AC.controller.AdminMyAccountRequestViewDetailsFormController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminRequestViewDetailForm</servlet-name>
    <url-pattern>/AdminRequestViewDetailForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAdvisorReview</servlet-name>
    <servlet-class>org.AC.controller.AdminMyAccountReviewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAdvisorReview</servlet-name>
    <url-pattern>/AdminAdvisorReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminMyUpcomingSessions</servlet-name>
    <servlet-class>org.AC.controller.AdminMyAccountUpcomingSessionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminMyUpcomingSessions</servlet-name>
    <url-pattern>/AdminMyUpcomingSessions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminMyUpcomingSessionViewDetail</servlet-name>
    <servlet-class>org.AC.controller.AdminMyAccountUpcomingSessionViewDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminMyUpcomingSessionViewDetail</servlet-name>
    <url-pattern>/AdminMyUpcomingSessionViewDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminMyUpcomingSessionViewDetailForm</servlet-name>
    <servlet-class>org.AC.controller.AdminMyAccountUpcomingSessionViewDetailsFormController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminMyUpcomingSessionViewDetailForm</servlet-name>
    <url-pattern>/AdminMyUpcomingSessionViewDetailForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminUserAdvisorMessages</servlet-name>
    <servlet-class>org.AC.controller.AdminMyAccountUserAdvisorMessagesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserAdvisorMessages</servlet-name>
    <url-pattern>/AdminUserAdvisorMessages</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminApproveSessionMessagesAndFiles</servlet-name>
    <servlet-class>org.AC.controller.AdminSessionMessagesAndFileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminApproveSessionMessagesAndFiles</servlet-name>
    <url-pattern>/AdminApproveSessionMessagesAndFiles</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminViewUserProfile</servlet-name>
    <servlet-class>org.AC.controller.AdminViewUserProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminViewUserProfile</servlet-name>
    <url-pattern>/AdminViewUserProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvisorCancelledSessions</servlet-name>
    <servlet-class>org.AC.controller.AdvisorMyAccountCancelledSessionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvisorCancelledSessions</servlet-name>
    <url-pattern>/AdvisorCancelledSessions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvisorCancelledSessionViewDetail</servlet-name>
    <servlet-class>org.AC.controller.AdvisorMyAccountCancelledSessionViewDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvisorCancelledSessionViewDetail</servlet-name>
    <url-pattern>/AdvisorCancelledSessionViewDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvisorMessageAdmin</servlet-name>
    <servlet-class>org.AC.controller.AdvisorMyAccountMessageAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvisorMessageAdmin</servlet-name>
    <url-pattern>/AdvisorMessageAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvisorMessageAdminForm</servlet-name>
    <servlet-class>org.AC.controller.AdvisorMyAccountMessageAdminFormController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvisorMessageAdminForm</servlet-name>
    <url-pattern>/AdvisorMessageAdminForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvisorPreviousSessions</servlet-name>
    <servlet-class>org.AC.controller.AdvisorMyAccountPreviousSessionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvisorPreviousSessions</servlet-name>
    <url-pattern>/AdvisorPreviousSessions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvisorPreviousSessionViewDetail</servlet-name>
    <servlet-class>org.AC.controller.AdvisorMyAccountPreviousSessionViewDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvisorPreviousSessionViewDetail</servlet-name>
    <url-pattern>/AdvisorPreviousSessionViewDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvisorRequests</servlet-name>
    <servlet-class>org.AC.controller.AdvisorMyAccountRequestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvisorRequests</servlet-name>
    <url-pattern>/AdvisorRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvisorRequestViewDetail</servlet-name>
    <servlet-class>org.AC.controller.AdvisorMyAccountRequestViewDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvisorRequestViewDetail</servlet-name>
    <url-pattern>/AdvisorRequestViewDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvisorRequestViewDetailForm</servlet-name>
    <servlet-class>org.AC.controller.AdvisorMyAccountRequestViewDetailsFormController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvisorRequestViewDetailForm</servlet-name>
    <url-pattern>/AdvisorRequestViewDetailForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvisorSessionViewDetailForm</servlet-name>
    <servlet-class>org.AC.controller.AdvisorMyAccountSessionViewDetailsFormController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvisorSessionViewDetailForm</servlet-name>
    <url-pattern>/AdvisorSessionViewDetailForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvisorUpcomingSessions</servlet-name>
    <servlet-class>org.AC.controller.AdvisorMyAccountUpcomingSessionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvisorUpcomingSessions</servlet-name>
    <url-pattern>/AdvisorUpcomingSessions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvisorRegistration</servlet-name>
    <servlet-class>org.AC.controller.AdvisorRegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvisorRegistration</servlet-name>
    <url-pattern>/AdvisorRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvisorRegistrationEducationInfo</servlet-name>
    <servlet-class>org.AC.controller.AdvisorRegistrationEducationInfoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvisorRegistrationEducationInfo</servlet-name>
    <url-pattern>/AdvisorRegistrationEducationInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvisorRegistrationEmail</servlet-name>
    <servlet-class>org.AC.controller.AdvisorRegistrationEmailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvisorRegistrationEmail</servlet-name>
    <url-pattern>/AdvisorRegistrationEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvisorRegistrationForm</servlet-name>
    <servlet-class>org.AC.controller.AdvisorRegistrationFormController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvisorRegistrationForm</servlet-name>
    <url-pattern>/AdvisorRegistrationForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvisorRegistrationGeneralInfo</servlet-name>
    <servlet-class>org.AC.controller.AdvisorRegistrationGeneralInfoControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvisorRegistrationGeneralInfo</servlet-name>
    <url-pattern>/AdvisorRegistrationGeneralInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvisorRegistrationImage</servlet-name>
    <servlet-class>org.AC.controller.AdvisorRegistrationImageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvisorRegistrationImage</servlet-name>
    <url-pattern>/AdvisorRegistrationImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvisorRegistrationOtherInfo</servlet-name>
    <servlet-class>org.AC.controller.AdvisorRegistrationOtherInfoControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvisorRegistrationOtherInfo</servlet-name>
    <url-pattern>/AdvisorRegistrationOtherInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvisorRegistrationProfessionalBackground</servlet-name>
    <servlet-class>org.AC.controller.AdvisorRegistrationProfessionalBackgroundControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvisorRegistrationProfessionalBackground</servlet-name>
    <url-pattern>/AdvisorRegistrationProfessionalBackground</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvisorRegistrationServices</servlet-name>
    <servlet-class>org.AC.controller.AdvisorRegistrationServicesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvisorRegistrationServices</servlet-name>
    <url-pattern>/AdvisorRegistrationServices</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvisorRegistrationImages</servlet-name>
    <servlet-class>org.AC.controller.AdvisorRegistrationImageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvisorRegistrationImages</servlet-name>
    <url-pattern>/AdvisorRegistrationImages</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContactUs</servlet-name>
    <servlet-class>org.AC.controller.ContactUsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUs</servlet-name>
    <url-pattern>/ContactUs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeactivateAdvisor</servlet-name>
    <servlet-class>org.AC.controller.DeactivateAdvisorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeactivateAdvisor</servlet-name>
    <url-pattern>/DeactivateAdvisor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeactivateUser</servlet-name>
    <servlet-class>org.AC.controller.DeactivateUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeactivateUser</servlet-name>
    <url-pattern>/DeactivateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadFile</servlet-name>
    <servlet-class>org.AC.controller.DownloadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadFile</servlet-name>
    <url-pattern>/DownloadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvisorNewPassword</servlet-name>
    <servlet-class>org.AC.controller.ForgotPasswordNewPasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvisorNewPassword</servlet-name>
    <url-pattern>/AdvisorNewPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserNewPassword</servlet-name>
    <servlet-class>org.AC.controller.UserForgotPasswordNewPasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserNewPassword</servlet-name>
    <url-pattern>/UserNewPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserCancelledSessionViewDetails</servlet-name>
    <servlet-class>org.AC.controller.UserMyAccountCancelledSessionViewDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCancelledSessionViewDetails</servlet-name>
    <url-pattern>/UserCancelledSessionViewDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserPayment</servlet-name>
    <servlet-class>org.AC.controller.UserMyAccountPaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPayment</servlet-name>
    <url-pattern>/UserPayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserPreviousSessionViewDetails</servlet-name>
    <servlet-class>org.AC.controller.UserMyAccountPreviousSessionViewDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPreviousSessionViewDetails</servlet-name>
    <url-pattern>/UserPreviousSessionViewDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserRequestViewDetails</servlet-name>
    <servlet-class>org.AC.controller.UserMyAccountRequestViewDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRequestViewDetails</servlet-name>
    <url-pattern>/UserRequestViewDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserRequestViewDetailForm</servlet-name>
    <servlet-class>org.AC.controller.UserMyAccountRequestViewDetailsFormController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRequestViewDetailForm</servlet-name>
    <url-pattern>/UserRequestViewDetailForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserUpcomingSessionViewDetails</servlet-name>
    <servlet-class>org.AC.controller.UserMyAccountUpcomingSessionViewDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpcomingSessionViewDetails</servlet-name>
    <url-pattern>/UserUpcomingSessionViewDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PDF</servlet-name>
    <servlet-class>org.AC.controller.PDFController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PDF</servlet-name>
    <url-pattern>/PDF</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Recommend</servlet-name>
    <servlet-class>org.AC.controller.Recommendation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Recommend</servlet-name>
    <url-pattern>/Recommend</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionFiles</servlet-name>
    <servlet-class>org.AC.controller.SessionFileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionFiles</servlet-name>
    <url-pattern>/SessionFiles</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionMessages</servlet-name>
    <servlet-class>org.AC.controller.SessionMessagesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionMessages</servlet-name>
    <url-pattern>/SessionMessages</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Advisors</servlet-name>
    <servlet-class>org.AC.controller.AdvisorsTabController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Advisors</servlet-name>
    <url-pattern>/Advisors</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetReviews</servlet-name>
    <servlet-class>org.AC.controller.GetReviewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetReviews</servlet-name>
    <url-pattern>/GetReviews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Filter</servlet-name>
    <servlet-class>org.AC.controller.FilterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Filter</servlet-name>
    <url-pattern>/Filter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvisorUpcomingSessionViewDetails</servlet-name>
    <servlet-class>org.AC.controller.AdvisorMyAccountUpcomingSessionViewDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvisorUpcomingSessionViewDetails</servlet-name>
    <url-pattern>/AdvisorUpcomingSessionViewDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAdvisors</servlet-name>
    <servlet-class>org.AC.controller.AdminAdvisorsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAdvisors</servlet-name>
    <url-pattern>/AdminAdvisors</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminUsers</servlet-name>
    <servlet-class>org.AC.controller.AdminUsersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUsers</servlet-name>
    <url-pattern>/AdminUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminReview</servlet-name>
    <servlet-class>org.AC.controller.AdminReviewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminReview</servlet-name>
    <url-pattern>/AdminReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionViewDetails</servlet-name>
    <servlet-class>org.AC.controller.AdmnSessionViewDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionViewDetails</servlet-name>
    <url-pattern>/SessionViewDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminMessages</servlet-name>
    <servlet-class>org.AC.controller.AdminMessagesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminMessages</servlet-name>
    <url-pattern>/AdminMessages</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForgotPasswordURL</servlet-name>
    <servlet-class>org.AC.controller.ForgotPasswordURLController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordURL</servlet-name>
    <url-pattern>/ForgotPasswordURL</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistrationPDF</servlet-name>
    <servlet-class>org.AC.controller.RegistrationPDFController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationPDF</servlet-name>
    <url-pattern>/RegistrationPDF</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserActive</servlet-name>
    <servlet-class>org.AC.controller.UserActiveURLController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserActive</servlet-name>
    <url-pattern>/UserActive</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserForgotPasswordURL</servlet-name>
    <servlet-class>org.AC.controller.UserForgotPasswordURLController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserForgotPasswordURL</servlet-name>
    <url-pattern>/UserForgotPasswordURL</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WordFileOpenerSample</servlet-name>
    <servlet-class>org.AC.controller.WordFileOpenerSample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WordFileOpenerSample</servlet-name>
    <url-pattern>/WordFileOpener</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApproveFeedback</servlet-name>
    <servlet-class>org.AC.controller.ApproveFeedbackController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveFeedback</servlet-name>
    <url-pattern>/ApproveFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminContactUs</servlet-name>
    <servlet-class>org.AC.controller.AdminContactUsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminContactUs</servlet-name>
    <url-pattern>/AdminContactUs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionFeedBack</servlet-name>
    <servlet-class>org.AC.controller.SessionFeedBackController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionFeedBack</servlet-name>
    <url-pattern>/SessionFeedBack</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GeneralInfoEdit</servlet-name>
    <servlet-class>org.AC.controller.AdvisorEditProfileGeneralInfoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GeneralInfoEdit</servlet-name>
    <url-pattern>/GeneralInfoEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EducationInfoEdit</servlet-name>
    <servlet-class>org.AC.controller.AdvisorEditProfileEducationInfoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EducationInfoEdit</servlet-name>
    <url-pattern>/EducationInfoEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfessionalBackgroundEdit</servlet-name>
    <servlet-class>org.AC.controller.AdvisorEditProfessionalBackgroundController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfessionalBackgroundEdit</servlet-name>
    <url-pattern>/ProfessionalBackgroundEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OtherInfoEdit</servlet-name>
    <servlet-class>org.AC.controller.AdvisorEditOtherinfoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OtherInfoEdit</servlet-name>
    <url-pattern>/OtherInfoEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServicesEdit</servlet-name>
    <servlet-class>org.AC.controller.AdvisorEditProfileServicesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServicesEdit</servlet-name>
    <url-pattern>/ServicesEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageEdit</servlet-name>
    <servlet-class>org.AC.controller.AdvisorEditProfileImageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageEdit</servlet-name>
    <url-pattern>/ImageEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvisorEditProfileEmail</servlet-name>
    <servlet-class>org.AC.controller.AdvisorEditProfileEmailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvisorEditProfileEmail</servlet-name>
    <url-pattern>/AdvisorEditProfileEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WeAreHereToHelp</servlet-name>
    <servlet-class>org.AC.controller.WeAreHereToHelpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeAreHereToHelp</servlet-name>
    <url-pattern>/WeAreHereToHelp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminHereToHelp</servlet-name>
    <servlet-class>org.AC.controller.AdminWeAreHereToHelpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHereToHelp</servlet-name>
    <url-pattern>/AdminHereToHelp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>advisorverification</servlet-name>
    <servlet-class>org.AC.controller.AdvisorVerificationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>advisorverification</servlet-name>
    <url-pattern>/advisorverification</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>myaccount</servlet-name>
    <servlet-class>org.AC.controller.AdvisorMyAccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myaccount</servlet-name>
    <url-pattern>/myaccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>usermyaccount</servlet-name>
    <servlet-class>org.AC.controller.UserMyAccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usermyaccount</servlet-name>
    <url-pattern>/usermyaccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewPassword</servlet-name>
    <jsp-file>/NewPassword.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewPassword</servlet-name>
    <url-pattern>/NewPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeactivatedLink</servlet-name>
    <jsp-file>/LinkDeactivated.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeactivatedLink</servlet-name>
    <url-pattern>/DeactivatedLink</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>aboutus</servlet-name>
    <jsp-file>/AboutUs.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>aboutus</servlet-name>
    <url-pattern>/aboutus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>verificationfailed</servlet-name>
    <jsp-file>/VerificationFailed.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>verificationfailed</servlet-name>
    <url-pattern>/verificationfailed</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>becomeanadvisor</servlet-name>
    <jsp-file>/BecomeAdvisor.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>becomeanadvisor</servlet-name>
    <url-pattern>/becomeanadvisor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>contactus</servlet-name>
    <jsp-file>/ContactUs.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>contactus</servlet-name>
    <url-pattern>/contactus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Error</servlet-name>
    <jsp-file>/Error.jsp</jsp-file>
  </servlet>	
  <servlet-mapping>
    <servlet-name>Error</servlet-name>
    <url-pattern>/Error</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Email</servlet-name>
    <jsp-file>/Email.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Email</servlet-name>
    <url-pattern>/Email</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Image</servlet-name>
    <jsp-file>/Image.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Image</servlet-name>
    <url-pattern>/Image</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login</servlet-name>
    <jsp-file>/Login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GeneralInfo</servlet-name>
    <jsp-file>/GeneralInfo.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>GeneralInfo</servlet-name>
    <url-pattern>/GeneralInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistrationComplete</servlet-name>
    <jsp-file>/RegistrationComplete.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationComplete</servlet-name>
    <url-pattern>/RegistrationComplete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContactUsThankyou</servlet-name>
    <jsp-file>/ContactUsThankyou.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUsThankyou</servlet-name>
    <url-pattern>/ContactUsThankyou</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserRegistrationComplete</servlet-name>
    <jsp-file>/UserRegistrationComplete.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistrationComplete</servlet-name>
    <url-pattern>/UserRegistrationComplete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvisorRegistrationComplete</servlet-name>
    <jsp-file>/AdvisorRegistrationComplete.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvisorRegistrationComplete</servlet-name>
    <url-pattern>/AdvisorRegistrationComplete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserActivationURL</servlet-name>
    <jsp-file>/UserActivationURL.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserActivationURL</servlet-name>
    <url-pattern>/UserActivationURL</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FAQs</servlet-name>
    <jsp-file>/FAQ.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>FAQs</servlet-name>
    <url-pattern>/FAQs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>howitworks</servlet-name>
    <jsp-file>/HowItWorks.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>howitworks</servlet-name>
    <url-pattern>/howitworks</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>terms</servlet-name>
    <jsp-file>/TC.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>terms</servlet-name>
    <url-pattern>/terms</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>privacy</servlet-name>
    <jsp-file>/PrivacyPolicy.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>privacy</servlet-name>
    <url-pattern>/privacy</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>whyusac</servlet-name>
    <jsp-file>/whyuse.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>whyusac</servlet-name>
    <url-pattern>/whyusac</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dashboard</servlet-name>
    <jsp-file>/MyAccount.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>dashboard</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>userdashboard</servlet-name>
    <jsp-file>/UserMyAccount.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>userdashboard</servlet-name>
    <url-pattern>/userdashboard</url-pattern>
  </servlet-mapping>
      <servlet>
    <servlet-name>nda</servlet-name>
    <jsp-file>/NDA.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>nda</servlet-name>
    <url-pattern>/nda</url-pattern>
  </servlet-mapping>
        <servlet>
    <servlet-name>payment</servlet-name>
    <jsp-file>/ccavRequestHandler.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>payment</servlet-name>
    <url-pattern>/payment</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>adminlogin</servlet-name>
    <jsp-file>/AdminLogin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlogin</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
</web-app>